Package: me.chichou.webinspect-global
Name: webinspect
Depends: mobilesubstrate
Version: 0.3.0
Architecture: iphoneos-arm
Description: Enable webview remote inspect for every app
Maintainer: codecolorist
Author: codecolorist
Section: Tweaks
